In [3]:
import pandas as pd
import numpy as np

1. Создать объект Series из списка чисел [1, 2, 3] с метками [a, b, c] и вывести его на печать.

In [24]:
pd.Series([1, 2, 3], index=["a", "b", "c"])

a    1
b    2
c    3
dtype: int64

2. Создать объект Series из словаря {'a': 1, 'b': 2, 'c': 3} и вывести его на печать.

In [25]:
pd.Series({ "a": 1, "b": 2, "c": 3 })

a    1
b    2
c    3
dtype: int64

3. Создать объект массива NumPy arr = [1, 2, 3, 4, 5] , затем из него создать объект Series и вывести его на печать.

In [26]:
arr = [1, 2, 3, 4, 5]

pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

4. Создать объект Series с заполнением по умолчанию значением 0 и метками [a, b, c] и вывести его на печать.

In [27]:
pd.Series(0, index=["a", "b", "c"])

a    0
b    0
c    0
dtype: int64

5. В первой строке ввода с клавиатуры поступает строка с символами разлепленными пробелом, во второй строка с целыми числами. На их основе создать список кортежей и из него объект Series, вывести его на печать.

In [30]:
indexesInput = input("Введите строку с символами, разделенными пробелами")
valuesInput = input("Введите строку с целыми значениями, разделенных пробелами")

indexes = indexesInput.split(" ")
values = [int(value) for value in valuesInput.split(" ")]

pd.Series(values, index=indexes)

one      10
two      20
three    30
four     40
five     50
dtype: int64

6. На вход поступает строка слов, разделенных пробелом. Создать на ее основе объект Series с метками 0, 1, 2,... Вывести его на печать.

In [ ]:
wordsInput = input("Введите строку слов, разделенных пробелом")

pd.Series(wordsInput.split(" "))

0    Ulanbekova
1      Aikanysh
2    Ulanbekova
3      IVT-21-1
dtype: object

7. На вход поступает последовательность из чисел 0 и 1, разделенных пробелом. Создать на ее основе объект Series, содержащий булевы значения True (1) , False (0) c метками [a, b, c, d,...]

In [37]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]

valuesInput = input("Введите последовательность чисел 0 и 1, разделенных пробелом")
values = [bool(int(value)) for value in valuesInput.split(" ")]
indexes = letters[0:len(values)]

pd.Series(values, index=indexes)

a    False
b    False
c    False
d     True
e     True
f    False
dtype: bool

8. Создать объект Series из списка дат ['2022-01-01', '2022-01-02', '2022 01-03'] , вывести его на печать. Даты в объекте Series должны быть представлены объектами datetime стандартной библиотеки языка программирования Python.

In [38]:
pd.Series(data=pd.date_range("2022-01-01", periods=3))

0   2022-01-01
1   2022-01-02
2   2022-01-03
dtype: datetime64[ns]

9. На вход подаются два целых числа n и m через пробел. На их основе создать объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5, 7,...] . Вывести его на печать.

In [77]:
numbersInput = input("Введите два целых числа n и m через пробел")
[n, m] = numbersInput.split(" ")


values = np.arange(int(n), int(m), 10)

maxIndex = len(values) * 2 + 1
indexes = np.arange(1, maxIndex, 2)

pd.Series(values, index=indexes)

1     10
3     20
5     30
7     40
9     50
11    60
13    70
15    80
17    90
dtype: int32

#### Индивидуальное задание.

Создать объект Series с оценками студентов

In [81]:
names = ["Иван", "Николай", "Оля", "Юля", "Петя", "Вова"]
grades = [4, 5, 4, 5, 3, 5]

data = pd.Series(grades, index=names)

print(data)

Иван       4
Николай    5
Оля        4
Юля        5
Петя       3
Вова       5
dtype: int64

Посчитать среднюю оценку учащихся и вывести на печать

In [83]:
print(f"Средний бал учащихся {round(data.mean(), 2)}")

Средний бал учащихся 4.33

На вход подается имя учащегося. Необходимо вывести его бал на печать

In [86]:
name = input("Введите имя учащегося")


if not name in data.index:
    print(f"Студен {name} не найден")
else:
    print(f"Оценка студента {name} - {data.loc[name]}")

Оценка студента Оля - 4